@font-face {
  font-family: myFirstFont;
  src: url("../../assets/FontFamily/VCR_OSD_MONO_1.001.ttf");
}
@font-face {
  font-family: press;
  src: url("../../assets/FontFamily/PressStart.ttf");
}
.mb10 {
  margin-bottom: 15%;
}
.tvContainer {
  background-position: center;
  background-size: 100% 100%;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/rise-bg.png");
  font-family: myFirstFont;
  object-fit: contain;
}
.progress {
  height: 0.4rem !important;
  margin: 8px;
  border-radius: 0px !important;
}

.level-div {
  margin: 55px 35px 0px 35px !important;
  font-family: myFirstFont;
}
.level-h2 {
  font-family: myFirstFont;
  /* margin: 5px; */
}
.level-h2 h2 {
  font-size: 13px;
}
.level-h2 .level {
  color: #e1ca00;
}
.ml-10 {
  margin-left: 10px;
}
.mt5 {
  margin-top: 5px !important;
}
.level-h2 .energy {
  color: #00aeef;
}
.streak {
  color: #fff;
  font-size: 14px;
  margin: 0 !important;
}
.phase1 {
  display: flex;
  align-items: center;
}
.phase-p {
  padding: 5px;
  background-color: yellow;
}
.streak-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-center {
  text-align: center !important;
  text-align: -webkit-center !important;
}
.text-c {
  text-align: center !important;
  text-align: -webkit-center !important;
}

.text-c {
  text-align: center !important;
  text-align: -webkit-center !important;
}

.streak-border {
  /* padding: 10px 0px !important ; */
  z-index: 1;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    to top,
    #d96a00 5.66%,
    #b9b9b9 35.31%,
    #eef73b 49.95%,
    #4cf038 61.23%,
    #33c6f6 93.04%,
    #ffe252 97.74%,
    #d457ff 100%
  );
}
.streak-border {
  /* padding: 10px 0px !important ; */
  border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    to top,
    #d96a00 5.66%,
    #b9b9b9 35.31%,
    #eef73b 49.95%,
    #4cf038 61.23%,
    #33c6f6 93.04%,
    #ffe252 97.74%,
    #d457ff 100%
  );
}

.token-mint {
  font-size: 12px;
  text-align: center;
  background: #000;
  padding: 5px 3px;
  color: #e1ca00;
  margin: 0;
  border-radius: 1;
}
.token-mint1 {
  font-size: 12px;
  text-align: center;
  background: #000;
  padding: 5px 3px;
  color: #00baff;
  margin: 0;
  border-radius: 1;
}
.earn-tap {
  font-size: 12px;
  text-align: center;
  background: #000000;
  padding: 5px 3px;
  color: aliceblue;
  margin: 0;
  border-radius: 1;
}
.txt-color {
  background: linear-gradient(
    180deg,
    #fd8d23 27.59%,
    #fae61c 32.74%,
    #eef73b 37.45%,
    #4cf038 46.86%,
    #33c6f6 56.95%,
    #7475ff 63.9%,
    #d457ff 72.41%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.booster {
  padding: 10px;
  text-align: center;
  border: 1px solid #4e4e4e;
  border-top: none;
  align-items: revert;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
.points {
  padding: 22px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 1px;
  font-family: press;
  border-image-source: linear-gradient(
    to left,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
}
.points h2 {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.token-div {
  background: #4e4e4e;
  padding: 3px;
  height: 100%;
}

.earn-p {
  margin: 5px 0px;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.floor {
  position: fixed;
  bottom: 15%;
  width: 100%;
  height: 96px;
  background-color: #2800b8;
}
.woot-dance {
  position: fixed;
  bottom: 15%;
  transform: translateX(-100px);
  animation: dance linear 10s infinite alternate;
}
@keyframes dance {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(calc(100vw - (290px)));
  }
}

/* +5 animations */

/* .tap-points {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #ff4500; 
  animation: fadeUp 1s ease-out forwards;
  pointer-events: none;
}
@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes moveUp {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -100px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.tap-points {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  color: #ff4500;
  animation: fadeUp 1.5s ease-out forwards;
  pointer-events: none;
  z-index: 10;
}
@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(-80px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.arrow {
  border-color: #000;
  position: absolute;
  top: 1%;
}
.line {
  background-image: url("../../assets/images/line.svg");
  /* transform: rotate(40deg); */
  left: 49.5%;
  width: 2px;
  height: 7rem;
}
.wallet-image {
  width: 34px;
  height: 24px;
  margin-bottom: 3px;
}
