@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

@font-face {
  font-family: "vcr-ocd-mono";
  src: url(/src/assets/FontFamily/VCR_OSD_MONO_1.001.ttf) format("woff2");
  src: url(/src/assets/FontFamily/VCR_OSD_MONO_1.001.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 393px;
  /* height       : 738px; */
  background-color: rgba(0, 0, 0, 0.5);
}

.match-header {
  position: relative;
  width: 50%;
  border: 4px solid #363636;
  text-align: center;
  padding: 4px;
  top: 25px;
  left: 90px;
  color: #4cf038;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.match-header-text {
  filter: drop-shadow(0px 2px 0px#d457ff);
  font-family: "Press Start 2p";
  font-size: 14px;
  font-weight: 400;
  line-height: 24.8px;
}

.battle-content {
  padding: 14px;
  border-color: rgba(78, 78, 78, 0.603);
  background-color: #0e0e0e;
  width: 370px;
  border-style: solid;
  border-width: 8px;
}

.vs-text {
  display: flex;
  height: 40px;
  width: auto;
  justify-content: center;
  position: absolute;
  top: 32%;
}

.choose-text-div {
  background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  );
  border: 0.5px solid;
  padding: 5px;
  border-radius: 5px;
  padding: 0px;
  background-clip: padding-box;
  position: relative;
  /* z-index: 1; */
  bottom: 2px;
  width: 360px;
}

.choose-text {
  background-color: black;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  margin: 1px;
  font-size: 16px;
  font-family: "vcr-ocd-mono";
  padding-top: 20px;
  padding-bottom: 20px;
  filter: drop-shadow(0px 2px#D457FF);
}

.meme-fight-text {
  filter: drop-shadow(0px 2.5px 0px #d457ff);
  font-family: "vcr-ocd-mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  word-spacing: 2px;
}

.characters-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 1px;
}

.red-character {
  width: 170px;
  margin: 1px !important;
}

.pepe-img {
  height: 200px;
  width: 130px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.team-1 {
  background: linear-gradient(
    0deg,
    transparent 10%,
    hsla(0, 93%, 50%, 0.692) 10%,
    hsla(0, 93%, 50%, 0.692) 15%,
    transparent 15%
  );

  background-size: 100% 12px;
  background-color: rgba(133, 37, 23, 0.4);
  opacity: 1;
}

.team-2 {
  background: linear-gradient(
    0deg,
    transparent 10%,
    #004a07 10%,
    #004a07 15%,
    transparent 15%
  );

  background-size: 100% 12px;
  background-color: rgb(43, 73, 3);
  opacity: 1;
  padding: 0px;
}

.team-1 img {
  height: 266px;
  width: 170px;
  padding: 0px;
}

.shiba-text {
  background-color: rgb(133, 37, 23, 0.4);
  margin-top: 0px;
  width: 170px;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Press Start 2p";
  font-weight: 400;
  font-size: 12px;
  line-height: 21.6px;
}

.pepe-text {
  background-color: #004a07c9;
  margin-top: 0px;
  width: 170px;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Press Start 2p";
  font-weight: 400;
  font-size: 14px;
  line-height: 21.6px;
}

.team-stats {
  color: #ffffff;
}

.team-stats {
  list-style: none;
  padding: 0;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team-stats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-family: "vsr-ocd-mono";
  color: #9b9b9b;
  font-size: 12px;
  padding: 5px;
}

.team-stats.red li {
  font-weight: bold;
  border-bottom: 1px solid rgb(199, 25, 25);
}

.team-stats.green li {
  font-weight: bold;
  border-bottom: 1px solid rgb(68, 145, 23);
}

.team-stats .value {
  font-weight: 400;
}

.team-stats.green li:last-child {
  border-bottom: none;
}

.team-stats.red li:last-child {
  border-bottom: none;
}

.value {
  color: #ffffff;
}

.team-shiba-btn {
  color: white;
  font-family: "vcr-ocd-mono";
  background-color: #a82b18;
  border-color: #a82b18;
  width: 170px;
  text-align: center;
  border-radius: 6px;
  margin-top: 2px;
}

.team-shiba-btn p {
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.team-pepe-btn {
  color: white;
  font-family: "vcr-ocd-mono";
  background-color: #09bd1b;
  border-color: #09bd1b;
  width: 170px;
  text-align: center;
  border-radius: 6px;
}

.team-pepe-btn p {
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 185px;
  margin-top: 20px;
}

.close-icon {
  height: 50px;
  width: 50px;
}

.close-btn:hover {
  opacity: 0.8;
}

.character-details {
  text-align: center;
}

.character-name {
  font-weight: bold;
}

.choose-button {
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
}

.red-button {
  background-color: #b30000;
}

.red-button:hover {
  background-color: #cc0000;
}

.green-button {
  background-color: #004d00;
}

.green-button:hover {
  background-color: #005c00;
}

/* @media (max-width:320px) {


  .meme-battle-container {
    margin-top: 60%;
  }

  .battle-content {
    width        : 100vw;
    padding      : 0px;
    padding-left : 5px;    padding-top  : 10px;
    padding-right: 50px;
  }

  .vs-text {
    position   : relative;
    font-family: 'Sedgwick Ave Display';
    font-weight: 400;
    font-size  : 24px;
    color      : black;
    z-index    : 1;
    display    : inline-block;
  }

  .vs-text::before {
    content : 'VS';
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : -1;

    background             : linear-gradient(to bottom, #FD8D23, #FAE61C, #EEF73B, #4CF038, #33C6F6, #7475FF, #D457FF);
    -webkit-background-clip: unset;
    background-clip        : text;
    color                  : transparent;
    transform              : scale(1.1);
    padding                : 1px;
  }


  .characters-container {
    display          : flex;
    align-items      : center;
    justify-content  : center;
    padding-left     : 40px;
    padding-bottom: 2px;
    gap              : 10px;
  }

  
  .shibu-text {
    padding-bottom:24px;
    padding-top: 22px;
    font-size  : 14px;
  }

  .pepe-text {
    width    : 175px;
    font-size: 14px;
  }

} */
