@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

@font-face {
  font-family: "vcr-ocd-mono";
  src: url(/src/assets/FontFamily/VCR_OSD_MONO_1.001.ttf) format("woff2");
  src: url(/src/assets/FontFamily/VCR_OSD_MONO_1.001.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

.match-header {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  color: #4cf038;
  text-align: center;
  padding: 8px 17px;
  background-color: rgb(0, 0, 0);
  border: rgb(37, 37, 37) 2.5px solid;
}

.match-header-text {
  filter: drop-shadow(0px 2px 0px #d457ff) !important;
  font-size: 16.4px;
  padding-top: 2px;
}

.outline {
  /* background: linear-gradient(
    180deg,
    #fd8d23 -1.34%,
    #fae61c 10.31%,
    #eef73b 20.95%,
    #4cf038 42.23%,
    #33c6f6 65.04%,
    #7475ff 80.74%,
    #d457ff 100%
  ); */
  padding: 1px;
  border-radius: 5px;
  border-top-width: 20px;
  background-clip: padding-box;
  position: relative;
  z-index: 1;
}

.content {
  border-radius: 4px;
  background-color: black;
  padding-top: 2px;
}

.choose-text-div {
  font-family: "Press Start 2P", cursive;
  background: linear-gradient(to bottom, #ffff00, #00ff00, #0000ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 3px rgba(255, 105, 180, 0.7));
  font-size: 8px;
}

.choose-text {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  text-align: center;
  padding: 10px 0px;
  color: #ffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  filter: drop-shadow(0px 1px#D457FF);
}

.battle-content {
  background-color: #0e0e0e;
  width: 85vw;
  max-width: 320px;
  margin: 0 auto;
  border: rgba(61, 60, 60, 0.733) solid 5px;
  padding: 20px 10px 12px 10px;
  position: relative;
}

.characters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 1px;
}

.character {
  text-align: center;
  flex: 1;
}

.character {
  text-align: center;
}

.character-image {
  width: auto;
  height: 185px;
  padding: 15px;
}

.shiba-text,
.pepe-text {
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  background-color: rgb(102, 8, 8);
}

.pepe-text {
  background-color: rgb(8, 155, 20);
}

.team-1 {
  background: linear-gradient(
    0deg,
    transparent 10%,
    hsla(0, 93%, 50%, 0.692) 10%,
    hsla(0, 93%, 50%, 0.692) 15%,
    transparent 15%
  );
  background-size: 7px 7px;
  background-color: rgba(133, 37, 23, 0.4);
  opacity: 1;
}

.team-2 {
  background: linear-gradient(
    0deg,
    transparent 10%,
    #004a07 10%,
    #004a07 15%,
    transparent 15%
  );

  background-size: 7px 7px;
  background-color: rgb(29, 102, 26);
  opacity: 1;
  /* padding: 0px; */
}

.team-stats {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  color: #ffffff;
  font-size: 12px;
}

.shiba-text {
  background-color: rgba(133, 37, 23, 0.4);
}

.pepe-text {
  background-color: rgb(29, 102, 26);
}

.team-shiba-btn,
.team-pepe-btn {
  width: 100%;
  height: 20px;
  background-color: #a82b18;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-pepe-btn {
  background-color: rgb(8, 148, 8);
}

.team-stats {
  list-style: none;
  padding: 0;
  /* margin: 5px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-stats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-family: "vsr-ocd-mono";
  color: #9b9b9b;
  font-size: 10px;
  padding: 2px;
}

.team-stats.red li {
  font-weight: bold;
  border-bottom: 1px solid rgb(199, 25, 25);
}

.team-stats.green li {
  font-weight: bold;
  border-bottom: 1px solid rgb(68, 145, 23);
}

.team-stats .value {
  font-weight: 400;
}

.team-stats.green li:last-child {
  border-bottom: none;
}

.team-stats.red li:last-child {
  border-bottom: none;
}

.value {
  color: #ffffff;
}

.vs-text {
  display: flex;
  height: 40px;
  width: auto;
  justify-content: center;
  position: absolute;
  top: 32%;
}

.team-shiba-btn {
  color: white;
  font-family: "vcr-ocd-mono";
  background-color: #a82b18;
  border-color: #a82b18;
  /* width           : 170px; */
  text-align: center;
  border-radius: 2px;
  margin-top: 2px;
  padding: 15px;
}

.team-shiba-btn p {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.team-pepe-btn {
  color: white;
  font-family: "vcr-ocd-mono";
  background-color: #09bd1b;
  border-color: #09bd1b;
  text-align: center;
  padding: 15px;
  border-radius: 2px;
}

.team-pepe-btn p {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.close-btn {
  position: absolute;
  bottom: 8%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* margin-top: 20px; */
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-icon {
  height: 50px;
  width: 50px;
}

.close-btn:hover {
  opacity: 0.8;
}
